* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'roboto', sans-serif;
}
html {
    scroll-behavior: smooth;
}

/*INICIO HEADER*/

.nav {
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.nav-list a {
    text-decoration: none;
    color: #ddd;
    padding: 20px;
}

.nav-list a:hover {
    color: #fff;
}

/*FIM HEADER*/

/*INICIO MAIN*/

.main {
    width: 100%;
    background-color: #000;
    height: calc(100vh - 80px);
    background-image: url(/img/programador.png);
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 10%;
}
.main h1 {
    color: #fff;
    font-size: 54px;
}

.main p {
    font-size: 24px;
    font-style: italic;
    color: #1e96fc;
    margin-top: 10px;
    margin-bottom: 35px;
}

.call-to-action {
    cursor: pointer;
    background-color: #fff;
    border: 0;
    padding: 14px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.9s;
}
.call-to-action:hover{
    transform: scale(1.1);
}

.main a {
    text-decoration: none;
    color: #181818;
} 

/*FIM MAIN*/

/*INICIO ABOUT*/

.about {
    background-color: #fff;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about div {
    max-width: 50%;
    padding-right: 40px;
}

.about img {
    max-width: 450px;
    border-radius: 8px;
}

.about div h2 {
    font-size: 32px;
    margin-bottom: 14px;
}

/*FIM ABOUT*/

/*INICIO PROJECTS*/

.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}

.projects h2 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.projects p {
    margin-bottom: 40px;
    font-style: italic;
}

.project-list {
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.projects img {
    width: 300px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.8;
    transition: 0.9s;
}

.projects img:hover {
    opacity: 1;
}

.action {
    background-color: #181818;
    border: 0;
    padding: 12px 28px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    margin-top: 18px;
    cursor: pointer;
}

/*FIM PROJECTS*/

/*INICIO FOOTER*/

footer {
    width: 100%;
    background-color: #181818;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
footer a {
    text-decoration: none;
    color: #fff;
}

footer p {
    margin-left: 12px;
}

/*FIM FOOTER*/

/*RESPONSIVIDADE*/

@media(max-width:1050px){
    

    .main h1{
        font-size: 45px;
    }

    .main p {
        font-size: 18px;
    }

    .main {
        background-size: cover;
    }


    .about {
        flex-direction: column;
        padding-top: 80px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .about div {
        max-width: 80%;
    }

    .about div h2 {
        font-size: 45px;
    }

    .about img {
        width: 80%;
        margin-top: 30px;
    }
    .projects{
        margin: 20px;
    }
    .project-list {
        /*flex-direction: column;*/
        flex-wrap: wrap;
        margin-left: 20px;
        margin-right: 20px;
        
       
    }
    .project-list img {
        margin-bottom: 20px;
    }


    footer {
        flex-direction: column;
    }  

    footer h3 {
        margin-bottom: 8px;
    }

    footer p {
        margin: 0;
    }
    
}
